# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Model checkpoints and data
*.h5
*.pkl
*.pth

# OS-specific
.DS_Store
